.venv

# Terraform files
*.tfvars
*.tfstate
*.tfstate.backup
.terraform/

# Python cache files
*.egg-info/
__pycache__/

# MacOS files
.DS_Store

# Local Spotify cached tokens
.cache

# Local requests to the processor worker
scripts/local_requests.txt

# vscode settings
.vscode/

# Claude folder
.claude

# XCode user data
xcuserdata/

# Logs
logs

.ruff_cache

.pytest_cache/